<!-- <div id="slickmenu">
<li style="margin-left: 0px; margin-top: -8px; transform: rotate(359deg); opacity: 1;">
    <a href="#">
		<img src="./assets/image/dolphin-logo.png" alt="Commentaire 1" style="border-radius: 5px;">
    </a>
</li>
<li style="margin-left: 130px; margin-top: 27px; transform: rotate(16deg); opacity: 1;">
    <a href="#">
		<img src="./assets/image/dolphin-logo.png" alt="Commentaire 2" style="border-radius: 5px;">
    </a>
</li>
<li style="margin-left: 260px; margin-top: -8px; transform: rotate(342deg); z-index: 3;">
    <a href="#">
		<img src="./assets/image/dolphin-logo.png" alt="Commentaire 3" style="border-radius: 5px; border-width: 3px;">
    </a>
</li>
<li style="margin-left: 390px; margin-top: 20px; transform: rotate(9deg); opacity: 1;">
    <a href="#">
		<img src="./assets/image/dolphin-logo.png" alt="Commentaire 4" style="border-radius: 5px;">
    </a>
</li>
<li style="margin-left: 520px; margin-top: -6px; transform: rotate(344deg); opacity: 1;">
    <a href="#">
		<img src="./assets/image/dolphin-logo.png" alt="Commentaire 5" style="border-radius: 5px;">
    </a>
</li>
</div> -->


<!-- <nav class="menu">
    <ul class="inline">
        <li><a href="#">Acceuil</a></li>
        <li><a href="#">Nous contacter</a></li>
        <li><a href="#">Nos tarifs</a></li>
        <li><a href="#">L'aquarium</a>
            <ul class="list">
                <li><a href="#">Animal Book</a></li>
                <li><a href="#">Notre Plan</a></li>
                <li><a href="#">Planning des activités</a></li>
            </ul>
        </li>
    </ul>
</nav> -->

<!-- <style>
  /* ================================================================ 
  This copyright notice must be kept untouched in the stylesheet at 
  all times.
  
  The original version of this stylesheet and the associated (x)html
  is available at http://www.cssplay.co.uk/menus/cssplay-iris-menu.html
  Copyright (c) Stu Nicholls. All rights reserved.
  This stylesheet and the associated (x)html may be modified in any 
  way to fit your requirements.
  =================================================================== */
  ul.iris {padding:0; margin:150px auto; list-style:none; width:550px; height:100px;}
  ul.iris li {width:100px; height:100px; border-radius:100px; overflow:hidden; border:1px solid #fff; margin:4px; position:relative; background:#fdb; z-index:10;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  box-shadow: 0 0 5px 2px rgba(0,0,0,0.3),
  inset 25px -43px 0 rgba(255, 0, 0, 0.3),
  inset 25px 43px 0 rgba(0, 255, 0, 0.5),
  inset -50px 0 0 rgba(0, 0, 255, 0.3);
  float:left;
  }
  ul.iris li a {display:block; width:70px; height:70px; margin:15px; font:400 14px/70px 'Oswald', sans-serif; letter-spacing:1px; color:#fff; text-decoration:none; text-align:center; position:relative; opacity:0; z-index:10;
  text-shadow:1px 1px 2px rgba(0,0,0,0.6);
  -webkit-transition: z-index 0s 0.5s, opacity 0.5s;
  -moz-transition: z-index 0s 0.5s, opacity 0.5s;
  -o-transition: z-index 0s 0.5s, opacity 0.5s;
  transition: z-index 0s 0.5s, opacity 0.5s;
  }
  ul.iris li b {display:block; width:100px; height:100px; background: url(/assets/image/dolphin-logo.png); border-radius:100px; position:absolute; left:0; top:0; z-index:15;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  box-shadow: 
  inset 25px -43px 0 rgba(255, 0, 0, 0.2),
  inset 25px 43px 0 rgba(0, 255, 0, 0.2),
  inset -50px 0 0 rgba(0, 0, 255, 0.2);
  -webkit-transform:rotate(60deg);
  -moz-transform:rotate(60deg);
  -ms-transform:rotate(60deg);
  -o-transform:rotate(60deg);
  transform:rotate(60deg);
  }
  ul.iris li:hover {zoom:1;
  box-shadow: 0 0 5px 2px rgba(0,0,0,0.3), 
  inset 3px -5px 0 rgba(255, 0, 0, 0.3),
  inset 3px 5px 0 rgba(0, 255, 0, 0.3),
  inset -5px 0 0 rgba(0, 0, 255, 0.3);
  }
  ul.iris li:hover b {
  box-shadow: 
  inset 3px -5px 0 rgba(255, 0, 0, 0.3),
  inset 3px 5px 0 rgba(0, 255, 0, 0.3),
  inset -5px 0 0 rgba(0, 0, 255, 0.3);
  }
  ul.iris li:hover a {z-index:20; opacity:1;}
  
  </style>

<ul class="iris">
	<li><a href="index.html">HOME</a><b></b></li>
	<li><a href="index.html">PRODUCTS</a><b></b></li>
	<li><a href="index.html">SERVICES</a><b></b></li>
	<li><a href="index.html">CONTACT</a><b></b></li>
	<li><a href="index.html">SECURITY</a><b></b></li>
</ul> -->




<!-- <style>
  #tiffa1 {
    position: absolute;
    top: 400px;
    left:500px;
  }

  li.tiffa {
  padding:0;
  margin:150px auto;
  list-style:none;
  width:100px; height:100px; border-radius:100px; overflow:hidden;
  border:1px solid #fff; margin:4px; position:relative;
  /* background:#fdb; */
  z-index:10;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  box-shadow: 0 0 5px 2px rgba(0,0,0,0.3),
  inset 25px -43px 0 rgba(6, 3, 22, 0.3),
  inset 25px 43px 0 rgba(77, 145, 201, 0.5),
  inset -50px 0 0 rgba(0, 0, 255, 0.3);
  float:left;
  }
  li.tiffa a {
  display:block;
  width:70px;
  height:70px;
  margin:15px;
  font:400 14px/70px 'Oswald', sans-serif;
  letter-spacing:1px;
  color:rgb(255, 255, 255); text-decoration:none; text-align:center; position:relative; opacity:0; z-index:10;
  text-shadow:1px 1px 2px rgba(0,0,0,0.6);
  -webkit-transition: z-index 0s 0.5s, opacity 0.5s;
  -moz-transition: z-index 0s 0.5s, opacity 0.5s;
  -o-transition: z-index 0s 0.5s, opacity 0.5s;
  transition: z-index 0s 0.5s, opacity 0.5s;
  }
  li.tiffa b {
  display:block;
  width:100px;
  height:100px;
  /* background: url(/assets/image/dolphin-logo.png); */
  border-radius:100px; position:absolute; left:0; top:0; z-index:15;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  box-shadow: 
  inset 25px -43px 0 rgba(6, 3, 22, 0.2),
  inset 25px 43px 0 rgba(77, 145, 201, 0.2),
  inset -50px 0 0 rgba(0, 0, 255, 0.2);
  -webkit-transform:rotate(60deg);
  -moz-transform:rotate(60deg);
  -ms-transform:rotate(60deg);
  -o-transform:rotate(60deg);
  transform:rotate(60deg);
  }
  li.tiffa:hover {zoom:1;
  box-shadow: 0 0 5px 2px rgba(0,0,0,0.3), 
  inset 3px -5px 0 rgba(6, 3, 22, 0.3),
  inset 3px 5px 0 rgba(77, 145, 201, 0.3),
  inset -5px 0 0 rgba(0, 0, 255, 0.3);
  }
  li.tiffa:hover b {
  box-shadow: 
  inset 3px -5px 0 rgba(6, 3, 22, 0.3),
  inset 3px 5px 0 rgba(77, 145, 201, 0.3),
  inset -5px 0 0 rgba(0, 0, 255, 0.3);
  }
  li.tiffa:hover a {z-index:20; opacity:1;}
  
  </style>

<li class="tiffa" id="tiffa1"><a href="index.html">HOME</a><b></b></li> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="./assets/image/dolphin-logo.png" alt="Logo" style="width:50px;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Nous visiter
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Tarifs</a>
          <a class="dropdown-item" href="#">Horaire</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Marine-Land
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Qui sommes-nous ?</a>
          <a class="dropdown-item" routerLink="/animal">Nos animaux</a>
          <a class="dropdown-item" routerLink="/bassin">Nos bassins</a>
          <a class="dropdown-item" routerLink="/secteur">Nos secteurs</a>
          <a class="dropdown-item" href="#">Notre plan</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>