<br>
<p scope="col" style="text-shadow:0 0 2px #ff1c1ce5,0 0 30px #ff1c1ce5,0px 0px 5px #ff1c1ce5, 0 0 150px #ff1c1ce5;color:#ff1c1ce5;
     text-align: center; font-size: 25px;">Nos secteurs</p>
<br>
<table class="table" style="color:white">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom secteur</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let a of secteurs">
          <th scope="row">{{a.id}}</th>
          <td>{{a.nom}}</td>
        </tr>
      </tbody>
</table>